body {
	background-color: #222222;
	color: #5CEDD8;
	font-size: 18px;
	padding: 1em 8em;
}

header, main {
	margin: 1.5em;
	padding: 1em;
}

header {
	text-align: center;
}

a:link, a:visited, a:active {
	border: 2px solid lightblue;
	border-radius: 2px;
	color: #840606;
}

a:hover, a:focus {
	background-color: #ffff00;
	color: #ffaa50;
}

table {
	border-spacing: 0;
	border-collapse: separate;
}

table td {
	background-color: #A4C6A4;
	border: 1px solid #000000;
	color: #6B1259;
	margin: 0;
	padding: .5em;
}

table tr {
	margin: 0;
	padding: 0;
}

.large-text {
	font-size: 2.5em;
}

.medium-text {
	font-size: 1.75em;
}

.favorite-thing {
	background-color: #ffffff;
	color: #000000;
	margin: 1.5em 0;
	padding: 1em;
}